body {
    padding: 10px;
}

.list-box{
    padding: 5px;
    border-style: solid;
    border-color: transparent;
    border-width: 1px;
}
.list-box:hover {
    border-color: skyblue;
}
.container > a:hover {
    text-decoration: none;
}