{% extends "auctions/layout.html" %}

{% block title %}
{{ listing.title }}
{% endblock title %}

{% block body %}

<div class="container">
    <h1>{{ listing.title }}</h1><br>


    <div class="d-flex justify-content-end">
        {% if listing.user_id == request.user %}
        {% if close_listing_message %}
        {{ close_listing_message }}
        {% endif %}
        {% if listing.active_status %}
        {% if close_listing_message %}
        <a href="{% url 'delete_listing' listing.id %}" role="button" class="btn btn-outline-danger btn-sm ml-3">
            Delete Listing
        </a>
        {% else %}
        <a href="{% url 'close_listing' listing.id %}" role="button" class="btn btn-outline-success btn-sm">
            Close Listing
        </a>
        {% endif %}

        {% else %}
        <button disabled="disabled" class="btn btn-secondary btn-sm">
            Listing closed
        </button>
        <a href="{% url 'delete_listing' listing.id %}" role="button" class="btn btn-outline-danger btn-sm ml-3">
            Delete Listing
        </a>
        {% endif %}

        {% else %}
        <a href="{% url 'watchlist_add' listing.id %}" role="button" class="btn btn-outline-success btn-sm">
            {% if on_watchlist %}
            Remove from
            {% else %}
            Add to
            {% endif %}
            Watchlist
        </a>
        {% endif %}
    </div>

    <div class="row">
        <div class="d-flex justify-content-center" style="max-height: 300px; width: 100%">
            <img src="{{ listing.image_url }}" alt="{{ listing.title }}" style="height: 100%;">
        </div>
    </div><br>

    <div class="d-flex justify-content-start">
        {{ listing.description }}
    </div><br>

    {% if listing.active_status %}
    <div class="d-flex justify-content-start">
        <h2><strong>Highest bid: ${{ max_bid.amount }}</strong></h2>
    </div>
    <div>by <strong>{{ max_bid.user_id }}</strong> at {{ max_bid.creation_date }}</div>
    {% else %}
    <div class="d-flex justify-content-start">
        {% if max_bid.user_id == request.user %}
        <h1><strong>
                Congratulations!! You won this Auction with bid of ${{ max_bid.amount }}.
            </strong></h1>
        {% else %}
        <h2><strong>
                Bidding closed:
                Winner is
                {{ max_bid.user_id }}
                at
                ${{ max_bid.amount }}
            </strong></h2>
        {% endif %}

    </div>
    {% endif %}
    <br>


    {% if listing.active_status %}
    <form action="{% url 'place_bid' listing.id %}" method="POST">
        {% csrf_token %}
        <p style="font-size: 10px;">{{ listing.bid.all.count }} bid(s) so far.</p>
        <div class="form-group">
            <input type="number" name="place_bid" class="form-control" placeholder="Bid" required=true
                min="{{ max_bid.amount }}">
        </div>
        <input type="submit" value="Place Bid" class="btn btn-success btn-lg">
    </form><br>

    {% else %}
    <p style="font-size: 10px;">
        Total bids: {{ listing.bid.all.count }}.</p>
    <div class="form-group">
        <input disabled type="number" name="place_bid" class="form-control" placeholder="Bid">
    </div>
    <input disabled type="submit" value="Place Bid" class="btn btn-success btn-lg">
    <br>
    {% endif %}
    <br>

    <div>
        <h2>Details:</h2>
        <ul>
            <li>Listed by: {{ listing.user_id }}</li>
            <li>Category: {{ listing.category }}</li>
            <li>Listed on: {{ listing.creation_time }}</li>
        </ul>
    </div><br>
    <hr class="m-3"><br>
    <form action="{% url 'make_comment' listing.id %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            {% for form in comment_form.visible_fields %}
            {{ form }}
            {% endfor %}
        </div>
        <input type="submit" value="Comment" class="btn btn-primary">
    </form>
    <hr class="m-3"><br>
    <div class="col">
        <h3>Comments:</h3>
        <hr>
        {% for comment in comments %}
        <div class="col px-2">
            <strong>{{ comment.user_id }}</strong>
            <div class="px-2">{{ comment.text }}</div>
            <div class="d-flex justify-content-end" style="font-size: xx-small;">{{ comment.created_date }}</div>
        </div>
        <hr class="m-1">
        {% endfor %}
    </div>
</div>
{% endblock body %}